html{
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family:  sans-serif; /*'Titillium Web',*/
	line-height: 1.8em;
	font-weight: bold;
	color: #eadbdbde;
}

.pimg{
	position: relative;
	min-height: 40%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg1{
	background-image: url(assets/pictures_comp/more_stars.jpg);
	height: 100%;
}

.pimg2{
	background-image: url(assets/pictures_comp/starry_night.jpg);
}

.pimg3{
	background-image: url(assets/pictures_comp/aurora.jpg);
}

.pimg4{
	background-image: url(assets/pictures_comp/earth.jpg);
	height: 100%;
}

.border{
	text-decoration: underline;
	vertical-align: middle;
}

.section{
	text-align: center;
	padding: 20px 80px;
	border: solid white 2px;			/* */
	background-color: #000000de;
}

.ptext{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
}

.music{
	margin: 50px;
	width: 30%;
	line-height: 30px;
	display: inline-block;

}

.song p {
	transition-duration: 0.5s;
	padding: 4px; /* the padding change on hover is 
				   to make sure other div elements don't 
				   move when the font increases */
}

.song p:hover{
	color: white;
	font-size: 20px;
	padding: 0px;

}

.ptext h3 {
	display: inline-block;
	margin: 20px;
	padding: 7px 7px;
	text-transform: uppercase;
	font-size: 1em;
	transition-duration: 0.5s;
	color: gray;
	border: solid transparent 2px;
}

.ptext h3:hover {
	color: white;
	cursor: pointer;
	border: solid white 2px;
}

audio {
	opacity: 0;
}

a {
	text-decoration: none;
	color: #eadbdbde;
}


/* for smaller devices */
@media screen and (max-width:730px){
	body {
		font-size: 14px;
	}

	.pimg{
		min-height: 30%;
	}


	.ptext {
		vertical-align: 40%;

	}

	.border{
		vertical-align: middle;
	}

	.section-dark{
		position: relative;
	}

	.music {
		line-height: 1em;
	}

	.song p:hover{
	color: white;
	font-size: 18px;
	padding: 0px;
	}

	audio {
		width: 200px;
	}

}
