html{
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family:  sans-serif; /*'Titillium Web',*/
	line-height: 1.8em;
	font-weight: bold;
	color: #eadbdbde;
	-webkit-font-smoothing: antialiased;
}

.pimg{
	position: relative;
	min-height: 40%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

@keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

.pimg1{
	background-image: url(assets/pictures_comp/more_stars.jpg);
	height: 100%;
	animation-name: fadein;
	animation-duration: 2s;
}

.pimg2{
	background-image: url(assets/pictures_comp/starry_night.jpg);
}

.pimg3{
	background-image: url(assets/pictures_comp/aurora.jpg);
}

.pimg4{
	background-image: url(assets/pictures_comp/earth.jpg);
	height: 100%;
}

.border{
	text-decoration: underline;
	vertical-align: middle;
}

.section{
	text-align: center;
	padding: 20px 80px;			/* */
	background-color: #000000de;
}

.ptext{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
}

.music{
	margin: 50px;
	width: 30%;
	line-height: 30px;
	display: inline-block;

}

.song p {
	transition-duration: 1s;
	color: #cae1d4;
	-webkit-transform: translate3d(0, 0, 0);
}

.song p:hover{
	color: white;
	cursor: pointer;
	font-weight: 900;
}

.Nardeya{
	text-decoration: overline;
}

.About .ptext, .Music .ptext {
	text-decoration: overline underline;
}


.ptext h3 {
	display: inline-block;
	margin: 20px;
	padding: 7px 7px;
	text-transform: uppercase;
	font-size: 1em;
	transition-duration: 0.5s;
	color: gray;
	border: solid transparent 2px;
}

.ptext h3:hover {
	color: white;
	cursor: pointer;
	border: solid white 2px;
}



audio {
	opacity: 0;
}

a {
	text-decoration: none;
	color: #eadbdbde;
}


/* for smaller devices */
@media screen and (max-width:730px){
	body {
		font-size: 14px;
	}

	.SubHeaders h3{
		color:#cac9b4;
	}

	.pimg{
		min-height: 30%;
	}

	.pimg1, .pimg2, .pimg3, .pimg4 {
	background-image: none;
	background: rgba(122,150,184,1);
	background: -moz-linear-gradient(left, rgba(122,150,184,1) 0%, rgba(88,124,173,1) 44%, rgba(83,120,172,1) 50%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122,150,184,1)), color-stop(44%, rgba(88,124,173,1)), color-stop(50%, rgba(83,120,172,1)));
	background: -webkit-linear-gradient(left, rgba(122,150,184,1) 0%, rgba(88,124,173,1) 44%, rgba(83,120,172,1) 50%);
	background: -o-linear-gradient(left, rgba(122,150,184,1) 0%, rgba(88,124,173,1) 44%, rgba(83,120,172,1) 50%);
	background: -ms-linear-gradient(left, rgba(122,150,184,1) 0%, rgba(88,124,173,1) 44%, rgba(83,120,172,1) 50%);
	background: linear-gradient(to right, rgba(122,150,184,1) 0%, rgba(88,124,173,1) 44%, rgba(83,120,172,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a96b8', endColorstr='#5378ac', GradientType=1 );
}


	.ptext {
		vertical-align: 40%;

	}

	.border{
		vertical-align: middle;
	}

	.section-dark{
		position: relative;
	}

	.music {
		line-height: 1em;
	}


	audio {
		width: 200px;
	}

}

@media screen and (min-width:731px){
	.song p:after{
content:'';
width:0px;
height:1px;
display:block;
background:black;
transition: all .2s ease-in;
}

.song p:before {
content:'';
width:0px;
height:1px;
display:block;
background:white;
transition: all .2s ease-in;
}


.song p:hover:before{
    width:30%;
}

.song p:hover:after{
    width:40%;
}

	

}
